[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]

[packages]
click = "*"
"delegator.py" = "*"
pyyaml = "*"
prettytable = "*"
tqdm = "*"
reprint = "*"
jinja2 = "*"
kaelib = "*"

[requires]
python_version = "3.6"
