[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
click = "*"
"delegator.py" = "*"
pyyaml = "*"
prettytable = "*"
requests = ">=2.20.0"
tqdm = "*"
reprint = "*"
websocket-client = "*"

[requires]
python_version = "3.5"
